.header {
    background-color: #72bf44;
    padding-bottom: 1.2em;
    padding-top: 1.2em;
}

.header h1 {
    font-size: 30px;
    margin: 0px;
    color: #fff;
    font-weight: bolder;
    display: inline-block;
}

.nav {
    margin-top: .625em;
    float: right;
}

.nav a {
    color: hsla(0, 0%, 100%, .8);
    margin-left: 1.25em;
}

.import-form {
    margin-top: 30px;
}

.form-delete {
    display: inline-block;
}

.checkbox-free-shipping, .checkbox-free-shipping label{
    width: 100%;
}